
<%- include("../partials/header")%>
<%- include("../partials/navbar")%>


<main class="container">

    <section>
    </section>
   
    <div class="row products">
        <h2 class="display-4">Blogs</h2>

        <%for(let product of products){%>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card text-center m-3" style="width: 18rem;">
                    <img src="<%=product.img%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=product.name%></h5>
                      <p class="card-text"><%=product.desc.substring(0,21)%></p>
                      <a href="/blogs/<%=product._id%>" class="btn btn-outline-primary">Read More</a>
                    </div>
                  </div>
            </div>
       <% }%>
    </div>



</div>

    
<%- include("../partials/footer")%>